<div fxLayout="row wrap" fxLayoutGap="16px grid" fxFlexFill fxLayoutAlign="center center">

  <div fxFlex="25%" fxFlex.xs="100%" fxFlex.sm="50%" *ngFor="let post of posts">

    <app-product-card [post] = "post">

      <mat-card-actions class="actions">

        <button mat-raised-button color="primary" (click)="onClickView(post.id)">View</button>
        <button mat-raised-button color="primary" (click)="onClickAddToCart()">Add to cart</button>

      </mat-card-actions>

    </app-product-card>

  </div>

</div>
