.cart {
  margin: 16px;
}

.items .imgContainer{
  width:200px;
}

.items .mat-card {
  max-height: 200px;
  display: flex;
}

.items .mat-card img{
  height: 100%;
}

.info{
  margin:16px;
  margin-top:0;
}





