<div *ngIf = "cartCombinedWithProducts.length === 0" style="margin:16px;">
  Your cart is empty
</div>
<div *ngIf = "cartCombinedWithProducts.length >= 1" class="cart">
  <form #form="ngForm">
    <div class="flex-container items"
         fxLayout="row"
         fxLayout.md="column">
      <div fxFlex="66%"  fxFlex.md="100%" class="items">
        <mat-card class="mat-elevation-z4" *ngFor="let item of cartCombinedWithProducts">
          <div class="imgContainer">
            <img [src]="item.product.images[0]">
          </div>
          <div style="flex:1">
            <p>{{item.product.title}}</p>
            <p>{{item.product.description}}</p>
          </div>
          <div style="flex:1">
            <p>id: {{item.product_id}}</p>
            <p>Price: &pound;{{item.product.price}}</p>
            <mat-form-field>
              <mat-label>Quantity</mat-label>
              <input name="count" type="number" matInput [(ngModel)]="item.count">
            </mat-form-field>
            <br/>
            <mat-card-actions>
              <button mat-raised-button color="primary" (click)="onClickRemove(item.product_id)">Remove</button>
              <button mat-raised-button color="primary" (click)="onClickUpdate(item.product_id, item.count)">Update</button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
      <div fxFlex="33%"  fxFlex.md="100%" class="info">
        <mat-card class="mat-elevation-z4">
          <p>Total: &pound;{{total}}</p>
          <br/>
          <br/>
          <button class="full-width" mat-raised-button color="primary" (click)="onCheckout()">Checkout</button>
        </mat-card>
      </div>

    </div>

  </form>

</div>
