<form #form="ngForm" (ngSubmit)="onClickSubmit()">

    <input name="title" #_title="ngModel" required minlength="6" type="text" maxlength="24" [(ngModel)]="title">

    <textarea name="body" #_body="ngModel" required minlength="12" maxlength="100" [(ngModel)]="body"></textarea>

    <button type="submit" [disabled]="form.invalid">Submit</button>

</form>


<div *ngIf="_title.invalid && _title.dirty">
  <div *ngIf="_title.errors && _title.errors.required">
    title error required
  </div>
  <div *ngIf="_title.errors && _title.errors.minlength">
    title error minlength
  </div>
  <div *ngIf="_title.errors && _title.errors.maxlength">
    title error maxlength
  </div>

  <div *ngIf="_body.errors && _body.errors.required">
    Body error required
  </div>
  <div *ngIf="_body.errors && _body.errors.minlength">
    Body error minlength
  </div>
  <div *ngIf="_body.errors && _body.errors.maxlength">
    Body error maxlength
  </div>
</div>

