<mat-toolbar color="primary">

  <span>Simple shop</span>

  <span style="flex: 1 1 auto;" class="example-fill-remaining-space"></span>

  <span flex></span>

  <a routerLink="/">
    <button mat-button>
      <mat-icon>home</mat-icon>
      Home
    </button>
  </a>

  <a routerLink="/history">
    <button mat-button>
      <mat-icon>mic</mat-icon>
      History
    </button>
  </a>

  <a routerLink="/history">
    <button mat-button matBadge="8" matBadgePosition="after" matBadgeColor="accent">
      <mat-icon>shopping_cart</mat-icon>
      Cart
    </button>
  </a>

  <button mat-button (click) = "login(); $event.preventDefault()">
    <mat-icon>face</mat-icon>
    Log in
  </button>

  <button mat-button (click) = "logout();">
    <mat-icon>logout</mat-icon>
    Log out
  </button>

</mat-toolbar>
